<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Listado de ofertas de trabajo</title>
</head>
<body>
<div class="container">
    <h1>Vacantes disponibles</h1>
<table border="0" cellspacing="0">
    <tbody>
        <tr th:each="empleo: ${empleos}">
            <td th:text="${empleo}"></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>